<%- include("partials/header")  %>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="titleInput" size="154" class="form-control">
            <label>Post</label>
            <textarea name="postBody" class="form-control" rows="10" cols="154"></textarea>
        </div>
            <button type="submit"  name="" class="btn btn-primary">Publish</button>
    </form>
<%- include("partials/footer")  %>
